body {
    font-family: 'Roboto', sans-serif;
    background-color: #444444;
}


/* navbar css starts here  */


/* .bg-light {
    background-color: #f2e9e4!important;
} */

.navbar-brand {
    font-family: 'Andada Pro', serif;
    font-size: 2.21rem;
    font-weight: 9000000;
    color: #c6c8ca!important;
}

.nav-link {
    color: #c6c8ca!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover {
    background-color: #333333;
}


/* navbar css ends here  */

.my-info {
    font-family: 'Bree Serif', serif;
    padding: 30rem 5rem 2rem 4rem;
}

.btn-info {
    margin: 15px 5px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 5.5px;
    padding: 1rem 3rem;
    background-color: rgba(3, 68, 28, 0.89)!important;
    color: rgba(204, 204, 204, 0.87)!important;
    margin-left: 5px;
    transition: all 0.3s;
    background-color: #D9CAB3;
}

.btn-info:hover {
    background-color: rgba(92, 91, 91, 0.644)!important;
}

.flex-container {
    display: flex;
}

.my_table {
    padding-top: 10rem;
    text-align: center;
}

.my-content {
    border-bottom-left-radius: 45rem;
    background-color: #6D9886;
}

S